page-guest-list {
    .detail{
        white-space: pre-line;
    }
    .no-padding {
        padding: 0px !important;
    }
    .item:nth-child(odd){
        
        background: #d5676a;
    }
    .item:nth-child(even){
        background: #ffb8a7;
    }
}
